@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:ital@1&family=Road+Rage&display=swap');

.products-heading{
  font-family: 'Raleway', sans-serif;
}

.products-title{
  font-family: 'Road Rage', cursive;
  font-size: 50px;
}

.products-name{
  font-family: 'Playfair Display', serif;
}
